.header-wrapper{
  margin: 0;
  background-color: #1e88e5;
  text-align: center;
  text-transform: uppercase;
}

.header-wrapper > h1{
  margin: 0;
  padding: 10px;
  color: white;
}


.text-wrapper{
  margin: 0;
  background-color: #1e88e5;
  text-align: center;
}

.text-wrapper > p{
  margin: 0;
  padding: 10px;
  color: white;
}
.row{
  padding-left: 20%;
  padding-right: 20%;
}

.login-form{
  padding-top: 20px;
}

@media (max-width: 782px) {
  .row{
    padding-left: 10%;
    padding-right: 10%;
  }

}
