<div class="topnav" id="myTopnav">
  <div *ngIf="!logged">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>
  <div *ngIf="logged">
    <span *ngIf="admin"><a routerLink="/manage-questions">Manage Questions</a></span>
    <a routerLink="/my-profile">My Profile</a>
    <a routerLink="/search">Search Users</a>
    <a routerLink="/logout" (click)="logOut()">Log Out</a>
  </div>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="toggleMenu()">&#9776;</a>
</div>

<router-outlet></router-outlet>
