body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.page-footer{
  background-color: #455a64;
}
.footer-copyright{
  background-color: #37474f ;
}
i.brown-text{
  color: #3e2723 !important;
}
